@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #01696f;
  --color-primary-hover: #0c4e54;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}
